.profile-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F8FA;
    border-radius: 10px;
    padding: 10px;
    width: 780px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profile-text {
    display: flex;
    flex-direction: column;
  }
  
  .profile-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .profile-text p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
  }
  
  .profile-text p span {
    font-weight: bold;
  }
  
  .edit-profile-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #FFBF00;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
  }
  
  .edit-profile-btn:hover {
    background-color: #e6a800;
  }
  
  .profile-image img {
    max-width: 160px;
    max-height: 160px;
    /* border-radius: 50%; */
  }
  